/**************************
SASS VARIABLES
**************************/

$pt: #212121;
$st: #727272;
$dc: #B6B6B6;
$wt: rgba(255,255,255,0.6);

$success: #4CAF50;
$darksuccess: #3A853D;

$failure: #F44336;
$darkfailure: #D32F2F;

$pc: #388E3C;
$tpc: rgba(255, 235, 59, 0.5);
$lpc: #4CAF50;
$dpc: #2B6E2E;

$sc: #03A9F4;
$lsc: #B3E5FC;
$dsc: #0288D1;

$sans: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;

/**************************
SETUP
**************************/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: $sc;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
}

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 32px;
  font-family: $serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.pageWrapper {
  width: 100%;
  margin: 0 auto;
}

/**************************
MAIN
**************************/

#main {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../img/main-bg.jpg') no-repeat top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .mainWrapper {
    height: 100%;
    width: 70%;
    // background-color: rgba(0,0,0,0.5);

    > div {
      height: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mainTitleBlock {

      h1 {
        font-size: 5rem;
        font-weight: lighter;
      }
    }

    .mainInputBlock {

      form {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        input {
          width: 80%;
          border: 0;
          text-align: center;
          padding: 12.5px 0;
          color: $pt;
          font-size: 1.5rem;

          &:focus {
            outline: 0;
          }
        }

        button {
          width: 20%;
          background-color: $pc;
          border: 0;
          transition: all .25s ease;
          -webkit-transition: all .25s ease;

          a {
            color: white;
          }

          &:focus {
            outline: 0;
          }

          &:hover {
            background-color: $dpc;

            i {
              transform: rotateZ(90deg);
            }
          }

          i {
            transition: all .25s ease;
            -webkit-transition: all .25s ease;
          }
        }
      }
    }

    .mainCopyrightBlock {
      font-size: 0.5rem;
      color: $dc;
    }
  }
}

/**************************
HEADER
**************************/

header {
  width: 100%;
  height: 500px;
  background: url("../img/moon.png") no-repeat top center fixed;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  color: white;

  .headerTop {
    width: 100%;
    margin: 0 auto;
    height: 45px;
    background: $pc;
    position: fixed;
    z-index: 10;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerIconBlock {
      display: flex;
      align-items: center;

      a {
        i.fa-home {
          margin-right: 10px;
          color: white;
          transition: all .25s ease;
          -webkit-transition: all .25s ease;

          &:hover {
            color: $wt;
          }
        }
      }

      i.fa-search {
        cursor: pointer;
        font-size: 0.9rem;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;

        &:hover {
          color: $wt;
        }
      }
    }

    .headerTitleBlock {
      font-family: $sans;
      font-weight: lighter;
    }
  }
}

/**************************
ARTIST
**************************/

#artist {
  background-image: url('../img/white_wall.png');

  .artistHeadBorder {
    width: 100%;
    height: 5px;
    margin-bottom: 25px;
    background-color: $pc;
    -webkit-box-shadow: 0px 1.5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1.5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1.5px 10px 0px rgba(0,0,0,0.75);
  }

  .shows {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 25px;

    .showCard {
      min-height: 300px;
      margin: 10px 0;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      display: flex;
      flex-wrap: wrap;

      .showTitle {
        height: 50px;
        width: 100%;
        background-color: $sc;
        color: white;
        text-align: center;
        padding: 5px 0;
        border-bottom: 1px solid $dsc;
      }

      .showInfoBlock {
        height: 250px;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 0.75rem;

        > div {
          display: flex;
          align-items: center;
        }

        .showInfoKey {
          width: 30%;
          background-color: $dsc;
          color: white;
          text-decoration: underline;
          display: flex;
          justify-content: center;
        }

        .showInfoValue {
          width: 70%;

          text-indent: 10px;
          text-align: left;
        }
      }

      .showTicketsBlock {
        border: none;
        padding: 0;
        height: 250px;
        width: 25%;
        background-color: $success;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: $darksuccess;
        }

        > div {
          height: 50%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center
        }

        .ticketsLink {
          text-decoration: underline;
        }

        .ticketsAvailable {
          font-size: 2rem;

          .fa-times {
            display: none;
          }
        }
      }

      .showTicketsBlock.unavailable {
        pointer-events: none;
        background-color: $failure;

        .ticketsLink {
          text-decoration: line-through;
          color: $dc;
        }

        .ticketsAvailable {
          font-size: 2rem;
          color: $dc;

          .fa-times {
            display: block;
          }

          .fa-check {
            display: none;
          }
        }
      }
    }
  }
}

/**************************
FOOTER
**************************/

footer {
  height: 200px;
  background-color: $pc;
  font-size: 0.5rem;
  color: white;

  .artistFootBorder {
    width: 100%;
    height: 35px;
    background-color: $dpc;
    -webkit-box-shadow: 0px 1.5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1.5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1.5px 10px 0px rgba(0,0,0,0.75);
  }

  .footerWrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/**************************
QUERIES
**************************/
