<div class="pageWrapper">
  <header>
    <div class="headerTop">
      <div class="headerIconBlock">
        <a href="#/"><i class="fa fa-home"></i></a>
        <i class="fa fa-search"></i>
      </div>
      <div class="headerTitleBlock">
        Pink Floyd
      </div>
    </div>
  </header>

  <div id="artist">
    <div class="artistHeadBorder"></div>

    <div class="shows">
      <div ng-include="'views/showCard.html'">
      </div>
    </div>
  </div>

  <footer>
    <div class="footerWrapper">

      <div class="copyright">
        <i class="fa fa-copyright"></i> 2015 Clayton Kinder & Samuel Grayson, All Rights Reserved
      </div>
    </div>
  </footer>
</div>
