<!-- {
"name": "Disclosure",
"image_url": "https://s3.amazonaws.com/bit-photos/large/2859534.jpeg",
"thumb_url": "https://s3.amazonaws.com/bit-photos/thumb/2859534.jpeg",
"facebook_tour_dates_url": "http://www.bandsintown.com/Disclosure/facebookapp?came_from=67",
"facebook_page_url": "http://www.facebook.com/disclosureuk",
"mbid": null,
"tracker_count": 561489,
"upcoming_event_count": 6
} -->

<div class="pageWrapper">
  <header>
    <div class="headerTop">
      <div class="headerIconBlock">
        <a href="#/"><i class="fa fa-home"></i></a>
        <i class="fa fa-search"></i>
      </div>
      <div class="headerTitleBlock">
        Disclosure
      </div>
    </div>
  </header>

  <div id="artist">
    <div class="artistHeadBorder"></div>

    <div class="shows">
      <div class="showCard">
        <div class="showTitle">
          Skrillex @ Encore Beach Club in Las Vegas, NV
        </div>
        <div class="showInfoBlock">
          <div class="showInfoKey">
            Venue:
          </div>
          <div class="showInfoValue">
            Blah
          </div>
          <div class="showInfoKey">
            Location:
          </div>
          <div class="showInfoValue">
            Blah 2
          </div>
          <div class="showInfoKey">
            Date:
          </div>
          <div class="showInfoValue">
            Blah 3
          </div>
          <div class="showInfoKey">
            Time:
          </div>
          <div class="showInfoValue">
            Blah 4
          </div>
        </div>
        <div class="showTicketsBlock">
          <div class="ticketsLink">
            Buy Tickets
          </div>
          <div class="ticketsAvailable">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
      <div class="showCard">
        The Pourhouse
      </div>
      <div class="showCard">
        House of Blues
      </div>
    </div>
  </div>

  <footer>
    <div class="artistFootBorder"></div>
    <div class="footerWrapper">

      <div class="copyright">
        <i class="fa fa-copyright"></i> 2015 Clayton Kinder & Samuel Grayson, All Rights Reserved
      </div>
    </div>
  </footer>
</div>
