<div class="pageWrapper" ng-controller="MainController">
  <header ng-style="{'background-image': 'url('+coverImg+')'}">
    <div class="headerTop">
      <div class="headerIconBlock">
        <a href="#/"><i ng-controller= "HomeController" class="fa fa-home"></i></a>
      </div>
      <div class="headerTitleBlock" ng-controller="MainController">
        {{artist}}
        <a href={{facebookLink}} target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </header>

  <div id="artist">
    <div class="artistHeadBorder"></div>

    <div class="shows">
      <div ng-include src="'views/showCard.html'">
      </div>
    </div>
  </div>

  <footer>
    <div class="footerWrapper">

      <div class="copyright">
        &copy; 2015 Clayton Kinder & Samuel Grayson, All Rights Reserved
      </div>
    </div>
  </footer>
</div>
