<div class="pageWrapper">

  <div id="main">
    <div class="mainWrapper">
      <div class="mainTitleBlock">
        <h1>Musang</h1>
      </div>
      <div class="mainInputBlock">
        <form>
          <input id="mainInput" type="text" placeholder="Type in an artist">
          <button id="mainSubmit" type="submit">
            <a href="#/artist"><i class="fa fa-search"></i></a>
          </button>
        </form>
      </div>
      <div class="mainCopyrightBlock">
        <i class="fa fa-copyright"></i> 2015 Clayton Kinder & Samuel Grayson, All Rights Reserved
      </div>
    </div>
  </div>
</div>
