<div class="showCard" ng-controller="MainController" ng-repeat="show in shows">
  <div class="showTitle">
    {{show.title}}
  </div>
  <div class="showInfoBlock">
    <div class="showInfoKey">
      Venue
    </div>
    <div class="showInfoValue">
      {{show.venue.name}}
    </div>
    <div class="showInfoKey">
      Location
    </div>
    <div class="showInfoValue">
      {{show.formatted_location}}
    </div>
    <div class="showInfoKey">
      Date
    </div>
    <div class="showInfoValue">
      {{show.datetime | date}}
    </div>
  </div>
  <a href="{{show.ticket_url}}" target="_blank" class="showTicketsBlock" ng-if="show.ticket_status === 'available'">
    <div class="ticketsLink">
      Buy Tickets
    </div>
    <div class="ticketsAvailable">
      <i class="fa fa-check"></i>
      <i class="fa fa-times"></i>
    </div>
  </a>
  <a class="showTicketsBlock unavailable" ng-if="show.ticket_status !== 'available'">
    <div class="ticketsLink">
      Buy Tickets
    </div>
    <div class="ticketsAvailable">
      <i class="fa fa-check"></i>
      <i class="fa fa-times"></i>
    </div>
  </a>
</div>
